.App {
  text-align: center;
  margin: 30px;
}

.sizes {
  align-items: center;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  width: 600px;
  background-color: wheat;
  height: 100px;
}
